/WalkingTEC/target/
/Configuracion/target/
/TheWalkingTEC/target/
/MVC-Calculadora/target/
/MortalKombat/target/
/TareaPatrones/SubGuey/target/
/TareaPatrones/StrategyGame/target/
/Mvc&Diagramas/MVC-Calculadora/target/
